{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Provas</h1>

    <table>
        <thead>
            <tr>
                <th>Matéria</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for prova in provas %}
                <tr>
                    <td>{{ prova.materia_nome }}</td>
                    <td>{{ prova.get_data() }}</td>
                    <td>{{ prova.get_peso() }}</td>
                    <td>
                        <a href="{{ url_for('edit_prova', id=prova.get_id()) }}">Editar</a>
                        <a href="{{ url_for('delete_prova', id=prova.get_id()) }}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('create_prova') }}">Adicionar Prova</a>

<p>
    <a href="{{ url_for('list_materias') }}">Ver Matérias</a>
</p>
{% endblock %}